body {
    background-color: wheat;
}

.box-container {
    max-width: 60rem;
    aspect-ratio: 1 /1;
    margin: 2rem auto;
    background-color: aquamarine;
}

.box {
    width: 10%;
    aspect-ratio: 1 / 1;
    color: lightskyblue;
    list-style-type: none;
    border: 1px dashed whitesmoke;
}